{% extends 'newsapp/base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<div style="max-width:500px;margin:50px auto;background:white;padding:30px;border-radius:20px;">
    <h2>🔑 Смена пароля</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" style="width:100%;padding:12px;background:#f39c12;color:white;border:none;border-radius:8px;font-size:1rem;cursor:pointer;">Изменить пароль</button>
    </form>
</div>
{% endblock %}